header h1 {
  margin-top: 0;
  padding: 15px;
  font-size: 25px;
  color: #4ccd99;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
table {
  width: 600px;
  height: 400;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 5px;
}

.cabecalho,
td {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

tr,
th,
td {
  border: 2px solid #000000;
  margin: 0;
}

th,
td {
  width: 183px;
  height: 35px;
}

.cabecalho {
  background-color: #008000;
  color: white;
  text-align: center;
  font-weight: lighter;
}
